* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  background: rgb(24, 24, 24);
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.namn {
  color: white;
  font-size: 3rem;
  right: 0;
  left: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  top: 15%;
}
