* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

html,
body {
  height: 100vh;
  background: rgb(24, 24, 24);
  font-family: "Montserrat", sans-serif;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.namn {
  color: white;
  font-size: 3rem;
  right: 0;
  left: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  top: 15%;
}
